# 构建与发布目录
build/
build_debug/
build_release/
release/
debug/

# 编译中间产物
*.o
*.obj
*.ninja
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.autogen/
*.ilk
*.pdb

# IDE
.vs/
.qtcreator/
.vscode/
*.user
*.user.*
CMakePresets.json.user

# 工具缓存
.codewhale/
.deepseek/

# 系统
Thumbs.db
Desktop.ini
